<div class="container">
    <div [hidden]="!userProfile || !userProfile.id" class="edit-panel" >
        <div class="navbar navbar-inverse center">
            <h4>User Information for: {{userProfile.name || "New User"}}</h4>
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="form-group">
                <label for="username">User Name:</label>
                <input type="text" placeholder="User Name" name="username" class="form-control" formControl="UserNameControl" [(ngModel)]="userProfile.name" required />
            </div>    
            <div class="form-group">
                <label for="fullname">Full Name:</label>
                <input type="text" placeholder="Full Name" name="fullname" class="form-control" formControl="FullNameControl" [(ngModel)]="userProfile.givenName" required />
            </div>    
            <div class="form-group">
                <label for="email">EMail</label>
                <input type="email" placeholder="Email" name="email" class="form-control" formControl="EMailControl" [(ngModel)]="userProfile.emailAddress" required />
            </div>    
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" name="password" class="form-control" formControl="PasswordControl" [(ngModel)]="userProfile.password" required />
            </div>    
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" placeholder="Confirm Password" name="confirmPassword" class="form-control" formControl="ConfirmPasswordControl" [(ngModel)]="userProfile.confirmPassword" required />
            </div>
            <div class="form-group">
                <label for="enabled">Enabled:</label>
                <div>
                    <ui-switch name="enabled" (change)="userProfile.enabled = $event" [checked]="userProfile.enabled"></ui-switch>
                </div>
            </div>    
            <validation [validationMessages]='validationMessages'></validation>
            <div class="form-group clearfix">
                <div class="btn-toolbar pull-right">
                    <button type="submit" class="btn btn-default" [disabled]="validationMessages.length > 0">Save</button>
                    <button type="button" class="btn btn-primary" (click)="cancel()">User List</button>
                </div>
            </div>    
        </form>    
    </div>
    <div [hidden]="userProfile && userProfile.id" class="loading-message">
        Loading User
    </div>        
</div>
<br/>
<user-claims></user-claims>
