<div class="container">
    <div [hidden]="!user || !user.id || user.id === '00000000-0000-0000-0000-000000000000'" class="edit-panel" >
        <div class="navbar navbar-inverse center">
            <h4>User Claims for {{user?.name}}</h4>
        </div>
        <ng-table [config]="tableConfig" [columns]="columns" (deleteClicked)="deleteClaim($event)"></ng-table>
        <div class="row add-claim">
            <div class="col-xs-2"><label for="value">Claim Type:</label></div>
            <div class="col-xs-4">
                <select class="form-control input-sm" [(ngModel)]="claimType" required>
                    <option *ngFor="let def of claimDefinitions | orderBy : '+description'" [value]="def.id">{{def.description}}</option>
                </select>                
            </div>
            <div class="col-xs-2"><label for="value">Value:</label></div>
            <div class="col-xs-4"><textarea placeholder="Value" name="value" class="form-control input-sm" [(ngModel)]="claimValue" required></textarea></div>
        </div>        
        <div class="form-group clearfix">
            <div class="btn-toolbar">
                <button type="button" class="btn btn-primary pull-right" [disabled]="!claimType || !claimValue" (click)="addClaim($event)">Add Claim</button>
            </div>
        </div>    
    </div>
</div>