<div class="container">
    <div [hidden]="!viewModel || !viewModel.id" class="edit-panel" >
        <div class="navbar navbar-inverse center">
            <h4>Member Information for: {{viewModel.lastName + ", " + viewModel.firstName || "New Member"}}</h4>
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="form-group clearfix">
                <div class="btn-toolbar pull-right">
                    <button *ngIf="!readOnly" type="submit" class="btn btn-default" [disabled]="validationMessages.length > 0">Save</button>
                    <button type="button" class="btn btn-primary" *ngIf="readOnly" (click)="reloadForEdit();">Edit</button>
                    <button type="button" class="btn btn-primary" (click)="return()">Return</button>
                </div>
            </div>                
            <div class="form-group col-sm-12">
                <label for="memberId">Member Id:</label>
                <input [disabled]="readOnly" type="text" placeholder="Member Id" name="memberId" class="form-control input-sm" ngControl="MemberIdControl" [(ngModel)]="viewModel.memberId" required />
            </div>    
            <div class="form-group col-sm-12">
                <label for="plan">Plan</label>
                <select [disabled]="readOnly" ngControl="PlanControl" class="form-control input-sm" [(ngModel)]="viewModel.planId" required>
                    <option *ngFor="let val of plans | orderBy : '+description'" [value]="val.id">{{val.description}}</option>
                </select>                                
            </div>                
            <div class="form-group col-sm-12">
                <label for="firstName">First Name:</label>
                <input [disabled]="readOnly" type="text" placeholder="First Name" name="firstName" class="form-control input-sm" ngControl="FirstNameControl" [(ngModel)]="viewModel.firstName" />
            </div>    
            <div class="form-group col-sm-12">
                <label for="middleName">Middle Name:</label>
                <input [disabled]="readOnly" type="text" placeholder="Middle Name" name="middleName" class="form-control input-sm" ngControl="MiddleNameControl" [(ngModel)]="viewModel.middleName" />
            </div>    
            <div class="form-group col-sm-12">
                <label for="lastName">Last Name:</label>
                <input [disabled]="readOnly" type="text" placeholder="Last Name" name="lastName" class="form-control input-sm" ngControl="LastNameControl" [(ngModel)]="viewModel.lastName" />
            </div>    
            <div class="form-group  col-sm-12">
                <div class="col-sm-4"><label for="dateOfBirth">Date of Birth:</label></div>
                <div class="col-sm-4">
                    <input [disabled]="readOnly" ngControl="DateOfBirthControl" name="dateOfBirth" class="form-control input-sm" [(ngModel)]="viewModel.dateOfBirth" placeholder="Date of Birth" #dateOfBirth (blur)="dateOfBirthString($event.target)" />                     
                </div>
                <div *ngIf="!readOnly" class="col-sm-1">
                    <button class="btn btn-xs calendar-button" (click)="toggleDateOfBirth($event);"><span class="glyphicon glyphicon-calendar"></span></button>
                    <datepicker class="popup" *ngIf="showDateOfBirthPicker" [showWeeks]="false" [(ngModel)]="dob" (ngModelChange)="hideDateOfBirth()"></datepicker>
                </div>
            </div>                
            <div class="form-group col-sm-12">
                <label for="personCode">Person Code:</label>
                <input [disabled]="readOnly" type="text" placeholder="Person Code" name="personCode" class="form-control input-sm" ngControl="PersonCodeControl" [(ngModel)]="viewModel.personCode" />
            </div>    
            <div class="form-group col-sm-12">
                <label for="eligibilityCode">Eligibility Code:</label>
                <input [disabled]="readOnly" type="text" placeholder="Eligibility Code" name="eligibilityCode" class="form-control input-sm" ngControl="EligibilityCodeControl" [(ngModel)]="viewModel.eligibilityCode" />
            </div>    
            <div class="form-group col-sm-12">
                <label for="relationshipCode">Relationship Code</label>
                <select [disabled]="readOnly" class="form-control input-sm" [(ngModel)]="viewModel.relationshipCode" required>
                    <option *ngFor="let val of relationshipCodes | orderBy : '+description'" [value]="val.id">{{val.description}}</option>
                </select>                                
            </div>    
            <div class="form-group col-sm-12">
                <label for="gender">Gender</label>
                <select [disabled]="readOnly" class="form-control input-sm" [(ngModel)]="viewModel.sex">
                    <option *ngFor="let val of genderCodes | orderBy : '+description'" [value]="val.id">{{val.description}}</option>
                </select>                                
            </div>    
            <div class="form-group col-sm-12">
                <label for="location">Location:</label>
                <input [disabled]="readOnly" type="text" placeholder="Location" name="location" class="form-control input-sm" ngControl="LocationControl" [(ngModel)]="viewModel.location" />
            </div>    
            <div class="form-group col-sm-12">
                <label for="address1">Address 1:</label>
                <input [disabled]="readOnly" type="text" placeholder="Address 1" name="address1" class="form-control input-sm" ngControl="Address1Control" [(ngModel)]="viewModel.address.address1" required />
            </div>    
            <div class="form-group col-sm-12">
                <label for="address2">Address 2:</label>
                <input [disabled]="readOnly" type="text" placeholder="Address 2" name="address2" class="form-control input-sm" ngControl="Address2Control" [(ngModel)]="viewModel.address.address2" />
            </div>    
            <div class="form-group col-sm-12">
                <label for="address3">Address 3:</label>
                <input [disabled]="readOnly" type="text" placeholder="Address 3" name="address3" class="form-control input-sm" ngControl="Address3Control" [(ngModel)]="viewModel.address.address3" />
            </div>    
            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    <label for="city">City:</label>
                    <input [disabled]="readOnly" type="text" placeholder="City" name="city" class="form-control input-sm" ngControl="CityControl" [(ngModel)]="viewModel.address.city" />
                </div>
                <div class="col-sm-4">
                    <label for="state">State</label>
                    <select [disabled]="readOnly" ngControl="StateControl" class="form-control input-sm" [(ngModel)]="viewModel.address.state" required>
                        <option *ngFor="let val of states | orderBy : '+description'" [value]="val.id">{{val.description}}</option>
                    </select>                                
                </div>
                <div class="col-sm-4">
                    <label for="zipCode">Zip Code:</label>
                    <input [disabled]="readOnly" type="text" placeholder="Zip Code" name="zipCode" class="form-control input-sm" ngControl="ZipCodeControl" [(ngModel)]="viewModel.address.zipCode" />
                </div>
            </div>    
            <div class="form-group col-sm-12">
                <label for="phone">Phone:</label>
                <input [disabled]="readOnly" type="text" placeholder="Phone" name="phone" class="form-control input-sm" ngControl="PhoneControl" [(ngModel)]="viewModel.telephone" />
            </div>    
            <div class="form-group col-sm-12">
                <label for="email">Email Address:</label>
                <input [disabled]="readOnly" type="text" placeholder="Email Address" name="email" class="form-control input-sm" ngControl="EmailControl" [(ngModel)]="viewModel.emailAddress" />
            </div>    
            <div class="form-group  col-sm-12">
                <div class="col-sm-4 form-label filter-label">Effective Date:</div>
                <div class="col-sm-4">
                    <input [disabled]="readOnly" ngControl="EffectiveDateControl" class="form-control input-sm" [(ngModel)]="viewModel.effectiveDate" placeholder="Effective Date" #effectiveDateStart (blur)="effectiveDateString($event.target)" />                     
                </div>
                <div *ngIf="!readOnly" class="col-sm-1">
                    <button class="btn btn-xs calendar-button" (click)="toggleEffectiveDate($event);"><span class="glyphicon glyphicon-calendar"></span></button>
                    <datepicker class="popup" *ngIf="showEffectiveDatePicker" [showWeeks]="false" [(ngModel)]="effectiveDate" (ngModelChange)="hideEffectiveDate()"></datepicker>
                </div>
            </div>                
            <div class="form-group  col-sm-12">
                <div class="col-sm-4 form-label filter-label">Termination Date:</div>
                <div class="col-sm-4">
                    <input [disabled]="readOnly" ngControl="TerminationDateControl"  class="form-control input-sm" [(ngModel)]="viewModel.terminationDate" placeholder="Termination Date" #terminationDateStart (blur)="terminationDateString($event.target)" />                                
                </div>
                <div *ngIf="!readOnly" class="col-sm-1">
                    <button class="btn btn-xs calendar-button" (click)="toggleTerminationDate($event);"><span class="glyphicon glyphicon-calendar"></span></button>
                    <datepicker class="popup" *ngIf="showTerminationDatePicker" [showWeeks]="false" [(ngModel)]="terminationDate" (ngModelChange)="hideTerminationDate()"></datepicker>
                </div>
            </div> 
            <div *ngIf="!readOnly" class="form-group col-sm-12"><validation [validationMessages]='validationMessages'></validation></div>                       
        </form>    
    </div>
    <div [hidden]="viewModel && viewModel.id" class="loading-message">
        {{loadingMessage}}
    </div>        
</div>
<br/>
<entity-values></entity-values>
