:host .table-hover tbody tr:hover td, .table-hover tbody tr:hover th 
{ 
    color: #FFFFFF; 
    background-color: #647299;
}

:host .selected 
{ 
    color: #FFFFFF; 
    background-color: #206C7F !important;
}