<div class="container">
    <div [hidden]="!viewModel || !viewModel.id" class="edit-panel" >
        <div class="navbar navbar-inverse center">
            <h4>Plan Information for: {{viewModel.name || "New Plan"}}</h4>
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="form-group clearfix">
                <div class="btn-toolbar pull-right">
                    <button type="submit" class="btn btn-default" [disabled]="validationMessages.length > 0" *ngIf="!readOnly">Save</button>
                    <button type="button" class="btn btn-primary" *ngIf="readOnly" (click)="reloadForEdit();">Edit</button>                    
                    <button type="button" class="btn btn-primary" (click)="return()">Return</button>
                </div>
            </div>                
            <div class="form-group col-sm-12">
                <label for="name">Name:</label>
                <input [disabled]="readOnly" type="text" placeholder="Name" name="name" class="form-control input-sm" ngControl="NameControl" [(ngModel)]="viewModel.name" required />
            </div>    
            <div class="form-group col-sm-12">
                <label for="bin">BIN:</label>
                <input [disabled]="readOnly" type="text" placeholder="BIN" name="bin" class="form-control input-sm" ngControl="BinControl" [(ngModel)]="viewModel.bin" required />
            </div>    
            <div class="form-group col-sm-12">
                <label for="pcn">PCN:</label>
                <input [disabled]="readOnly" type="text" placeholder="PCN" name="pcn" class="form-control input-sm" ngControl="PcnControl" [(ngModel)]="viewModel.pcn" />
            </div>    
            <div class="form-group col-sm-12">
                <label for="groupId">Group Id:</label>
                <input [disabled]="readOnly" type="text" placeholder="Group Id" name="groupid" class="form-control input-sm" ngControl="GroupIdControl" [(ngModel)]="viewModel.groupId" />
            </div>    
            <div class="form-group col-sm-12">
                <label for="address1">Address 1:</label>
                <input [disabled]="readOnly" type="text" placeholder="Address 1" name="address1" class="form-control input-sm" ngControl="Address1Control" [(ngModel)]="viewModel.address.address1" required />
            </div>    
            <div class="form-group col-sm-12">
                <label for="address2">Address 2:</label>
                <input [disabled]="readOnly" type="text" placeholder="Address 2" name="address2" class="form-control input-sm" ngControl="Address2Control" [(ngModel)]="viewModel.address.address2" />
            </div>    
            <div class="form-group col-sm-12">
                <label for="address3">Address 3:</label>
                <input [disabled]="readOnly" type="text" placeholder="Address 3" name="address3" class="form-control input-sm" ngControl="Address3Control" [(ngModel)]="viewModel.address.address3" />
            </div>    
            <div class="form-group col-sm-12">
                <div class="col-sm-4">
                    <label for="city">City:</label>
                    <input [disabled]="readOnly" type="text" placeholder="City" name="city" class="form-control input-sm" ngControl="CityControl" [(ngModel)]="viewModel.address.city" />
                </div>
                <div class="col-sm-4">
                <label for="state">State</label>
                    <select [disabled]="readOnly" ngControl="StateControl" class="form-control input-sm" [(ngModel)]="viewModel.address.state" required>
                        <option *ngFor="let val of states | orderBy : '+description'" [value]="val.id">{{val.description}}</option>
                    </select>                                
                </div>
                <div class="col-sm-4">
                    <label for="zipCode">Zip Code:</label>
                    <input [disabled]="readOnly" type="text" placeholder="Zip Code" name="zipCode" class="form-control input-sm" ngControl="ZipCodeControl" [(ngModel)]="viewModel.address.zipCode" />
                </div>
            </div>    
            <div class="form-group col-sm-12">
                <label for="phone">Phone:</label>
                <input [disabled]="readOnly" type="text" placeholder="Phone" name="phone" class="form-control input-sm" ngControl="PhoneControl" [(ngModel)]="viewModel.phone" />
            </div>    
            <div class="form-group col-sm-12">
                <label for="fax">Fax:</label>
                <input [disabled]="readOnly" type="text" placeholder="Fax" name="fax" class="form-control input-sm" ngControl="FaxControl" [(ngModel)]="viewModel.fax" />
            </div>    
            <div class="form-group col-sm-12">
                <label for="contact">Contact:</label>
                <input [disabled]="readOnly" type="text" placeholder="Contact" name="contact" class="form-control input-sm" ngControl="ContactControl" [(ngModel)]="viewModel.contact" />
            </div>    
            <div class="form-group col-sm-12">
                <label for="comments">Comments:</label>
                <textarea [disabled]="readOnly" placeholder="Comments" name="comments" class="form-control input-sm" ngControl="CommentsControl" [(ngModel)]="viewModel.comments"></textarea>
            </div>    
            <div class="form-group  col-sm-12">
                <div class="col-sm-4 form-label filter-label">Effective Date:</div>
                <div class="col-sm-4">
                    <input [disabled]="readOnly" ngControl="EffectiveDateControl" class="form-control input-sm" [(ngModel)]="viewModel.effectiveDate" placeholder="Effective Date" #effectiveDateStart (blur)="effectiveDateString($event.target)" />                     
                </div>
                <div *ngIf="!readOnly" class="col-sm-1">
                    <button class="btn btn-xs calendar-button" (click)="toggleEffectiveDate($event);"><span class="glyphicon glyphicon-calendar"></span></button>
                    <datepicker class="popup" *ngIf="showEffectiveDatePicker" [showWeeks]="false" [(ngModel)]="effectiveDate" (ngModelChange)="hideEffectiveDate()"></datepicker>
                </div>
            </div>                
            <div class="form-group  col-sm-12">
                <div class="col-sm-4 form-label filter-label">Termination Date:</div>
                <div class="col-sm-4">
                    <input [disabled]="readOnly" ngControl="TerminationDateControl"  class="form-control input-sm" [(ngModel)]="viewModel.terminationDate" placeholder="Termination Date" #terminationDateStart (blur)="terminationDateString($event.target)" />                                
                </div>
                <div *ngIf="!readOnly" class="col-sm-1">
                    <button class="btn btn-xs calendar-button" (click)="toggleTerminationDate($event);"><span class="glyphicon glyphicon-calendar"></span></button>
                    <datepicker class="popup" *ngIf="showTerminationDatePicker" [showWeeks]="false" [(ngModel)]="terminationDate" (ngModelChange)="hideTerminationDate()"></datepicker>
                </div>
            </div>    
            <div *ngIf="!readOnly" class="form-group col-sm-12"><validation [validationMessages]='validationMessages'></validation></div>                    
        </form>    
    </div>
    <div [hidden]="viewModel && viewModel.id" class="loading-message">
        {{loadingMessage}}
    </div>        
</div>
<br/>
<entity-values></entity-values>
