<div class="container">
    <div [hidden]="!parentId" class="edit-panel" >
        <div class="navbar navbar-inverse center">
            <h4>Other Values for {{parentEntityTypeDesc + ": " + parentEntityName}}</h4>
        </div>
        <ng-table [config]="tableConfig" [columns]="columns" (deleteClicked)="delete($event)"></ng-table>
        <br/>
        <form (ngSubmit)="save()" #form="ngForm">
            <validation *ngIf="!readOnly" [validationMessages]='validationMessages'></validation>                                
            <div class="form-group clearfix">
                <div class="btn-toolbar">
                    <button *ngIf="!readOnly" type="submit" class="btn btn-primary pull-right" [disabled]="validationMessages && validationMessages.length > 0">Save</button>
                    <button *ngIf="!readOnly" type="button" class="btn btn-primary pull-right" (click)="newItem($event)">Add New</button>
                </div>
            </div>            
            <div class="form-group col-sm-12">
                <label for="namespaceId">Property Name:</label>
                <select [disabled]="readOnly" name="namespaceId" class="form-control input-sm" [(ngModel)]="viewModel.namespaceId">
                    <option *ngFor="let def of namespaceOptions | orderBy : '+description'" [value]="def.id">{{def.description}}</option>
                </select>                
            </div>
            <div class="form-group col-sm-12">
                <label for="value">Value:</label>
                <textarea [disabled]="readOnly" placeholder="Value" name="value" class="form-control"[(ngModel)]="viewModel.value"></textarea>
            </div>             
            <div class="form-group col-sm-12">
                <label for="index">Index:</label>
                <input type="text" [disabled]="readOnly" placeholder="Index" name="index" class="form-control" [(ngModel)]="viewModel.index" />
            </div>           
            <div class="form-group col-sm-12">
                <label for="priority">Priority:</label>
                <input type="text" [disabled]="readOnly" placeholder="Priority" name="priority" class="form-control" [(ngModel)]="viewModel.priority" />
            </div>           
            <div class="form-group  col-sm-12">
                <div class="col-sm-4 form-label filter-label">Effective Date:</div>
                <div class="col-sm-4">
                    <input [disabled]="readOnly" name="effectiveDate" class="form-control input-sm" [(ngModel)]="viewModel.effectiveDate" placeholder="Effective Date" (blur)="effectiveDateString($event.target)" />                     
                </div>
                <div *ngIf="!readOnly" class="col-sm-1">
                    <button class="btn btn-xs calendar-button" (click)="toggleEffectiveDate($event);"><span class="glyphicon glyphicon-calendar"></span></button>
                    <datepicker [disabled]="readOnly" class="popup" name="effectiveDatePicker" [hidden]="!showEffectiveDatePicker" [showWeeks]="false" [(ngModel)]="viewModel.effectiveDate" (ngModelChange)="hideEffectiveDate()"></datepicker>
                </div>
            </div>                
            <div class="form-group  col-sm-12">
                <div class="col-sm-4 form-label filter-label">Termination Date:</div>
                <div class="col-sm-4">
                    <input [disabled]="readOnly" name="terminationDate"  class="form-control input-sm" [(ngModel)]="viewModel.terminationDate" placeholder="Termination Date" (blur)="terminationDateString($event.target)" />                                
                </div>
                <div *ngIf="!readOnly" class="col-sm-1">
                    <button class="btn btn-xs calendar-button" (click)="toggleTerminationDate($event);"><span class="glyphicon glyphicon-calendar"></span></button>
                    <datepicker [disabled]="readOnly" class="popup" name="terminationDatePicker" [hidden]="!showTerminationDatePicker" [showWeeks]="false" [(ngModel)]="viewModel.terminationDate" (ngModelChange)="hideTerminationDate()"></datepicker>
                </div>
            </div>    
            <div [hidden]="readOnly || parentEntityType === 1" class="form-group col-sm-12">
                <label for="planId">BIN/PCN/Group Id (Secondary):</label>
                <input type="text" [disabled]="readOnly" placeholder="BIN/PCN/Group Id" name="planId" class="form-control" [(ngModel)]="viewModel.planId" />
            </div>            
            <div [hidden]="readOnly || parentEntityType === 5" class="form-group col-sm-12">
                <label for="pharmacyId">Pharmacy Id (Secondary):</label>
                <input type="text" [disabled]="readOnly" placeholder="Pharmacy Id" name="pharmacyId" class="form-control" [(ngModel)]="viewModel.serviceProviderId" />
            </div>            
            <div [hidden]="readOnly || parentEntityType === 2" class="form-group col-sm-12">
                <label for="pharmacyId">Member Id (Secondary):</label>
                <input type="text" [disabled]="readOnly" placeholder="Member Id" name="memberId" class="form-control" [(ngModel)]="viewModel.memberId" />
            </div>            
            <div [hidden]="readOnly || parentEntityType === 4" class="form-group col-sm-12">
                <label for="drugId">Drug Id (NDC) (Secondary):</label>
                <input type="text" [disabled]="readOnly" placeholder="Drug Id (NDC)" name="drugId" class="form-control" [(ngModel)]="viewModel.productServiceId" />
            </div>                       
            <br/>        
        </form>    
    </div>
</div>