<div class="container">
    <div [hidden]="!claim || !claim.id" class="container edit-panel">
        <div class="navbar navbar-inverse center">
            <div class="col-sm-11">
                <h4>Claim Information / {{claim.headerResponseStatus ? 'Response': 'Request'}} / {{claim.transactionCode}} / {{claim.authorizationNumber}}</h4>
                <div class="toggle-descriptions-container">
                    <input type="checkbox" [(ngModel)]="showDescriptions" class="toggle-descriptions" /><span class="toggle-descriptions-text">Show Detailed Descriptions</span>
                </div>
            </div>
            <div class="col-sm-1"><button type="button" class="btn btn-primary pull-right return-btn" (click)="cancel()">Return</button></div>
        </div>
        <div class="col-sm-12">
            <table>
                <thead class="table-header">
                    <tr>
                        <th colspan="2">Related Claims</th>
                    </tr>
                </thead>                
                <tbody>
                    <tr>
                        <td class="header-info-name">{{claim.isIncoming ? 'Primary Response:' : 'Primary Request:'}}</td>
                        <td class="header-info-value"><a [routerLink]="['/packet', claim.secondaryId]">{{claim.secondaryPacketType}}</a></td>
                    </tr>
                    <tr [hidden]="!claim.isIncoming" *ngFor="let correlatedPacket of claim.correlatedPackets">
                        <td class="header-info-name">Related Request ({{correlatedPacket.processedDate}}):</td>
                        <td class="header-info-value"><a [routerLink]="['/packet', correlatedPacket.id]">{{correlatedPacket.type}} ({{correlatedPacket.transactionCode}})</a></td>
                    </tr>

                </tbody>
            </table>
            <br />
            <table>
                <thead class="table-header">
                    <tr>
                        <th colspan="4">Pharmacy Information</th>
                    </tr>
                </thead>                
                <tbody>
                    <tr>
                        <td class="header-info-name-2c">Pharmacy Id</td>
                        <td class="header-info-value-2c">{{claim.serviceProviderId}}</td>
                        <td class="header-info-name-2c">Name</td>
                        <td class="header-info-value-2c">[Pharmacy Name]</td>
                    </tr>
                    <tr>
                        <td class="header-info-name-2c">Telephone</td>
                        <td class="header-info-value-2c">(212)555-1212</td>
                        <td class="header-info-name-2c">Fill/Service Date</td>
                        <td class="header-info-value-2c">{{claim.dateOfService}}</td>
                    </tr>
                    <tr>
                        <td class="header-info-name-2c">Chain Id</td>
                        <td class="header-info-value-2c">[Chain Id]</td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <table>
                <thead class="table-header">
                    <tr>
                        <th colspan="4">Patient Information</th>
                    </tr>
                </thead>                
                <tbody>
                    <tr>
                        <td class="header-info-name-2c">Group Id</td>
                        <td class="header-info-value-2c">{{claim.groupId}}</td>
                        <td class="header-info-name-2c">Group Name</td>
                        <td class="header-info-value-2c">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="header-info-name-2c">First Name</td>
                        <td class="header-info-value-2c">&nbsp;</td>
                        <td class="header-info-name-2c">Last Name</td>
                        <td class="header-info-value-2c">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="header-info-name-2c">Middle Initial</td>
                        <td class="header-info-value-2c">&nbsp;</td>
                        <td class="header-info-name-2c">Member Id</td>
                        <td class="header-info-value-2c">{{claim.memberId}}</td>
                    </tr>
                    <tr>
                        <td class="header-info-name-2c">Effective Date</td>
                        <td class="header-info-value-2c">&nbsp;</td>
                        <td class="header-info-name-2c">Termination Date</td>
                        <td class="header-info-value-2c">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="header-info-name-2c">Date of Birth</td>
                        <td class="header-info-value-2c">&nbsp;</td>
                        <td class="header-info-name-2c">Person</td>
                        <td class="header-info-value-2c">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="header-info-name-2c">Gender</td>
                        <td class="header-info-value-2c">&nbsp;</td>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <br/>

        </div>
    </div>

    <div [hidden]="!claim || !claim.id" class="container edit-panel">
        <div class="navbar navbar-inverse center">
            <h4>Claim Rejections</h4>
        </div>
        <div class="col-sm-12">
            <table>
                <thead class="table-header">
                    <tr>
                        <th class="rejection-level">Level</th>
                        <th class="rejection-transaction-number">Tx</th>
                        <th class="rejection-field-position">Field</th>
                        <th class="rejection-code">Code</th>
                        <th class="rejection-description">Description</th>
                        <th class="rejection-message">Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let rejection of claim.rejections">
                        <td>{{rejection.rejectionLevel}}</td>
                        <td>{{rejection.transactionIndex}}</td>
                        <td>{{rejection.repeatingFieldIndex}}</td>
                        <td>{{rejection.code}}</td>
                        <td>{{rejection.description}}</td>
                        <td>{{rejection.message}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div [hidden]="!claim || !claim.id" class="container edit-panel">
        <div class="navbar navbar-inverse center">
            <h4>Claim Processing Logs</h4>
        </div>
        <div class="col-sm-12">
            <table>
                <thead class="table-header">
                    <tr>
                        <th class="processing-log-date">Log Date</th>
                        <th class="processing-log-message">Log Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let processingLog of claim.processingLogs">
                        <td>{{processingLog.loggedDate}}</td>
                        <td>{{processingLog.message}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div [hidden]="!claim || !claim.id" class="container edit-panel">
        <div class="navbar navbar-inverse center">
            <h4>Claim Additional Processing Data</h4>
        </div>
        <div class="col-sm-12">
            <table>
                <thead class="table-header">
                    <tr>
                        <th class="additional-key">Name</th>
                        <th class="additional-value">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let additionalValue of claim.additionalValues">
                        <td>{{additionalValue.key}}</td>
                        <td>{{additionalValue.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <div [hidden]="!claim || !claim.id" class="container edit-panel">
        <div class="navbar navbar-inverse center">
            <h4>Claim Contents</h4>
        </div>
        <div class="col-sm-12">
            <div style="margin:0;padding:0" *ngIf="claim.contents && claim.contents.Segments" class="col-sm-12">
                <div style="margin:0;padding:0" *ngFor="let segment of claim.contents.Segments" class="col-sm-12">
                    <h4>AM{{segment.SegmentCode}} - {{segment.SegmentDescription}}</h4>
                    <table>
                        <thead class="table-header">
                            <tr>
                                <th class="field-id">Id</th>
                                <th class="field-name">Name</th>
                                <th *ngIf="showDescriptions" class="field-desc">Description</th>
                                <th class="field-value">Value</th>
                                <th *ngIf="showDescriptions" class="field-summary">Value Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let field of segment.Fields">
                                <td *ngIf="field.Fields.length === 0">{{field.FieldId}}</td>
                                <td *ngIf="field.Fields.length === 0">{{field.FieldName}}</td>
                                <td *ngIf="field.Fields.length === 0 && showDescriptions" class="field-desc-column">{{field.Description}}</td>
                                <td *ngIf="field.Fields.length === 0">{{field.Value}}</td>
                                <td *ngIf="field.Fields.length === 0 && showDescriptions" class="field-value-summary-column">{{field.Summary}}</td>
                                <td *ngIf="field.Fields.length > 0" colspan="5" class="field-group-indent1">
                                    <table>
                                        <thead class="table-header">
                                            <tr>
                                                <th class="field-id">Id</th>
                                                <th class="field-name">Name</th>
                                                <th *ngIf="showDescriptions" class="field-desc">Description</th>
                                                <th class="field-value">Value</th>
                                                <th *ngIf="showDescriptions" class="field-summary">Value Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let innerField of field.Fields">
                                                <td *ngIf="innerField.Fields.length === 0">{{innerField.FieldId}}</td>
                                                <td *ngIf="innerField.Fields.length === 0">{{innerField.FieldName}}</td>
                                                <td *ngIf="innerField.Fields.length === 0 && showDescriptions" class="field-desc-column">{{innerField.Description}}</td>
                                                <td *ngIf="innerField.Fields.length === 0">{{innerField.Value}}</td>
                                                <td *ngIf="innerField.Fields.length === 0 && showDescriptions" class="field-value-summary-column">{{innerField.Summary}}</td>
                                                <td *ngIf="innerField.Fields.length > 0" colspan="5" class="field-group-indent2">
                                                    <table>
                                                        <thead class="table-header">
                                                            <tr>
                                                                <th class="field-id">Id</th>
                                                                <th class="field-name">Name</th>
                                                                <th *ngIf="showDescriptions" class="field-desc">Description</th>
                                                                <th class="field-value">Value</th>
                                                                <th *ngIf="showDescriptions" class="field-summary">Value Description</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let innerField2 of innerField.Fields">
                                                                <td *ngIf="innerField2.Fields.length === 0">{{innerField2.FieldId}}</td>
                                                                <td *ngIf="innerField2.Fields.length === 0">{{innerField2.FieldName}}</td>
                                                                <td *ngIf="innerField2.Fields.length === 0 && showDescriptions" class="field-desc-column">{{innerField2.Description}}</td>
                                                                <td *ngIf="innerField2.Fields.length === 0">{{innerField2.Value}}</td>
                                                                <td *ngIf="innerField2.Fields.length === 0 && showDescriptions" class="field-value-summary-column">{{innerField2.Summary}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin:0;padding:0" *ngFor="let transaction of claim.contents.Transactions" class="col-sm-12">
                    <div style="margin:0;padding:0" *ngFor="let segment of transaction.Segments" class="col-sm-12">
                        <h4>Transaction {{segment.TransactionIndex}} - {{segment.TransactionType}} - AM{{segment.SegmentCode}}
                            - {{segment.SegmentDescription}}</h4>
                        <table>
                            <thead class="table-header">
                                <tr>
                                    <th class="field-id">Id</th>
                                    <th class="field-name">Name</th>
                                    <th *ngIf="showDescriptions" class="field-desc">Description</th>
                                    <th class="field-value">Value</th>
                                    <th *ngIf="showDescriptions" class="field-summary">Value Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let field of segment.Fields">
                                    <td *ngIf="field.Fields.length === 0">{{field.FieldId}}</td>
                                    <td *ngIf="field.Fields.length === 0">{{field.FieldName}}</td>
                                    <td *ngIf="field.Fields.length === 0 && showDescriptions" class="field-desc-column">{{field.Description}}</td>
                                    <td *ngIf="field.Fields.length === 0">{{field.Value}}</td>
                                    <td *ngIf="field.Fields.length === 0 && showDescriptions" class="field-value-summary-column">{{field.Summary}}</td>
                                    <td *ngIf="field.Fields.length > 0" colspan="5" class="field-group-indent1">
                                        <table>
                                            <thead class="table-header">
                                                <tr>
                                                    <th class="field-id">Id</th>
                                                    <th class="field-name">Name</th>
                                                    <th *ngIf="showDescriptions" class="field-desc">Description</th>
                                                    <th class="field-value">Value</th>
                                                    <th *ngIf="showDescriptions" class="field-summary">Value Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let innerField of field.Fields">
                                                    <td *ngIf="innerField.Fields.length === 0">{{innerField.FieldId}}</td>
                                                    <td *ngIf="innerField.Fields.length === 0">{{innerField.FieldName}}</td>
                                                    <td *ngIf="innerField.Fields.length === 0 && showDescriptions" class="field-desc-column">{{innerField.Description}}</td>
                                                    <td *ngIf="innerField.Fields.length === 0">{{innerField.Value}}</td>
                                                    <td *ngIf="innerField.Fields.length === 0 && showDescriptions" class="field-value-summary-column">{{innerField.Summary}}</td>
                                                    <td *ngIf="innerField.Fields.length > 0" colspan="5" class="field-group-indent2">
                                                        <table>
                                                            <thead class="table-header">
                                                                <tr>
                                                                    <th class="field-id">Id</th>
                                                                    <th class="field-name">Name</th>
                                                                    <th *ngIf="showDescriptions" class="field-desc">Description</th>
                                                                    <th class="field-value">Value</th>
                                                                    <th *ngIf="showDescriptions" class="field-summary">Value Description</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let innerField2 of innerField.Fields">
                                                                    <td *ngIf="innerField2.Fields.length === 0">{{innerField2.FieldId}}</td>
                                                                    <td *ngIf="innerField2.Fields.length === 0">{{innerField2.FieldName}}</td>
                                                                    <td *ngIf="innerField2.Fields.length === 0 && showDescriptions" class="field-desc-column">{{innerField2.Description}}</td>
                                                                    <td *ngIf="innerField2.Fields.length === 0">{{innerField2.Value}}</td>
                                                                    <td *ngIf="innerField2.Fields.length === 0 && showDescriptions" class="field-value-summary-column">{{innerField2.Summary}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [hidden]="!claim || !claim.id" class="container edit-panel">
        <div class="navbar navbar-inverse center">
            <h4>Claim Matched Data Values</h4>
        </div>
        <div class="col-sm-12">
            <table>
                <thead class="table-header">
                    <tr>
                        <th class="sd-namespace">Name</th>
                        <th class="sd-description">Desc</th>
                        <th class="sd-value">Value</th>
                        <th class="sd-matched">Matched</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let subordinateData of claim.subordinateDataValues">
                        <td>{{subordinateData.namespace}}</td>
                        <td>{{subordinateData.description}}</td>
                        <td>{{subordinateData.value}}</td>
                        <td>{{subordinateData.matched}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div [hidden]="!claim || !claim.id" class="container edit-panel">
        <div class="navbar navbar-inverse center">
            <h4>Claim Status Changes</h4>
        </div>
        <div class="col-sm-12">
            <table>
                <thead class="table-header">
                    <tr>
                        <th class="sc-status-date">Date</th>
                        <th class="sc-route-ordinal">Route</th>
                        <th class="sc-event-name">Event</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let statusChange of claim.statusChanges">
                        <td>{{statusChange.statusDate}}</td>
                        <td>{{statusChange.routeOrdinal}}</td>
                        <td>{{statusChange.eventName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div [hidden]="claim && claim.id" class="loading-message">
        Loading Claim
    </div>
</div>